<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d93aa248-8ef9-4eb9-b73a-e66403a93a9e/resourceGroups/resource1/providers/Microsoft.Web/sites/FluffyFriendDev</ResourceId>
    <ResourceGroup>resource1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://fluffyfrienddev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>fluffyfrienddev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FluffyFriendDev</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FluffyFriendDev</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>